.sidebar {
    width: 250px;
  
    .sidebar-header {
      padding: 20px;
      color: #fff;
  
      img {
        width: 100px; // Ajusta el ancho según sea necesario
        height: auto; // Mantiene la proporción
      }
    }
  
  }
  