.aspect-formacorp{
    aspect-ratio: 900/150;
    object-fit: cover;
}

.aspect-16-9{
    aspect-ratio: 16/9;
    object-fit: cover;
}

.aspect-imagen{
    aspect-ratio: 200/150;
    object-fit: cover;
}